.flex-centered {
    margin: auto;
}

.auth-layout {
    height: 100vh;
    padding: 2.5rem;
    background-color: #E9EFF4;
}

.auth-card {
    width: 100%;
    height: calc(100vh - 2 * 2.5rem);
    background-color: #fff;
    border-radius: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
}
