<nb-card>
    <nb-card-header>
        Buyer List
    </nb-card-header>

    <nb-card-body>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email Address</th>
                    <th>Date Joined <i class="fa fa-undo"></i></th>
                    <th>Status <i class="fa fa-align-left"></i></th>
                    <th>Approved by <i class="fa fa-user"></i></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </nb-card-body>
</nb-card>