<nb-card>
    <nb-card-header>
        Buyer List
    </nb-card-header>

    <nb-card-body>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email Address</th>
                    <th>Date Joined <i class="fa fa-sort"></i></th>
                    <th>Gender <i class="fa fa-sort"></i></th>
                    <th>Spent <i class="fa fa-sort"></i></th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input class="form-control" placeholder="Search Name" [(ngModel)]="search"></td>
                    <td><input class="form-control" placeholder="Search Email Address" [(ngModel)]="emailAddress"></td>
                    <td><input class="form-control" placeholder="Search Date Joined" [(ngModel)]="dateJoin"></td>
                    <td><input class="form-control" placeholder="Search Gender" [(ngModel)]="gender"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr *ngFor="let item of buyerPaging.data | searchPipe:'name':search | searchPipe:'email':emailAddress | searchPipe:'dateOfJoin':dateJoin | searchPipe:'gender':gender" >
                    <td>{{ item.name }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.dateOfJoin }}</td>
                    <td>{{ item.gender }}</td>
                    <td>{{ item.spent }}</td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>

        <div class="paging">
            <ul>
                <li>
                    <a (click)="setPage(1)" [ngClass]="{disabled:currentPage == 1}">First</a>
                </li>
                <li>
                    <a (click)="setPage(currentPage, -1)" [ngClass]="{disabled:(currentPage-1) < 1}">Previous</a>
                </li>
                <li *ngFor="let p of pages">
                    <a (click)="setPage(p)" [ngClass]="currentPage == p?'current-page':''">{{p}}</a>
                </li>
                <li>
                    <a (click)="setPage(currentPage, +1)" [ngClass]="{disabled:currentPage == lastPage}">Next</a>
                </li>
                <li>
                    <a (click)="setPage(lastPage)" [ngClass]="{disabled:currentPage == lastPage}">Last</a>
                </li>
            </ul>
        </div>
    </nb-card-body>
</nb-card>