<nb-card>
    <nb-card-header>
        History Withdrawal
    </nb-card-header>

    <nb-card-body [nbSpinner]="loading" nbSpinnerStatus="warning">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Nama Toko</th>
                    <th>Nominal Transfer</th>
                    <th>Status <i class="fa fa-sort"></i></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of list">
                    <td>{{item.expiredProcessDate}}</td>
                    <td>{{item.storeName}}</td>
                    <td>Rp.{{item.grandTotal | number}}</td>
                    <td>{{item.status}}</td>
                    <td><div class="btn-detail" (click)="popDetail(content,item)">
                        Lihat Detail
                    </div></td>
                </tr>
            </tbody>
        </table>
        <div class="paging">
            <ul>
                <li>
                    <a (click)="setPage(1)" [ngClass]="{disabled:currentPage == 1}">First</a>
                </li>
                <li>
                    <a (click)="setPage(currentPage, -1)" [ngClass]="{disabled:(currentPage-1) < 1}">Previous</a>
                </li>
                <li *ngFor="let p of pages">
                    <a (click)="setPage(p)" [ngClass]="currentPage == p?'current-page':''">{{p}}</a>
                </li>
                <li>
                    <a (click)="setPage(currentPage, +1)" [ngClass]="{disabled:currentPage == lastPage}">Next</a>
                </li>
                <li>
                    <a (click)="setPage(lastPage)" [ngClass]="{disabled:currentPage == lastPage}">Last</a>
                </li>
            </ul>
        </div>
    </nb-card-body>
</nb-card> 

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Detail Pencairan Dana</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div>
            <div class="modal-body">
                    <div class="popCol">
                        <div>
                                Pemilik Rekening
                                <div class="labField">{{accountName}}</div>
                                Informasi Rekening
                                <div class="labField">{{accountNumberDetail}}</div>
                        </div>
                        <div>
                            Nominal Penarikan Dana<br>
                            <div class="labField">Rp. &nbsp;{{grandTotal | number}}</div>
                            Invoice Penarikan Dana<br>
                            <div class="labField"> 
                                <div *ngFor="let itemsI of listInvoice">{{itemsI}}</div>
                            </div>
                        </div>
                    </div>
                
            </div>
    </div>
    <!-- <div *ngIf="isSuccess==true">
        <div class="modal-body">
            Withdrawal berhasil diproses.
        </div>
        <div class="modal-footer">
            <button class="btn btn-sm btn-danger btn-click close" (click)="d('Cross click')">TUTUP</button>
        </div>
    </div> -->
    <!-- <div *ngIf="isError==true">
        <div class="modal-body">
            Withdrawal gagal diproses!
        </div>
        <div class="modal-footer">
            <button class="btn btn-sm btn-danger btn-click close" (click)="d('Cross click')">TUTUP</button>
        </div>
    </div> -->
    
</ng-template>
