
.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.paging ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}
.paging li {
    display: inline-block;
}
.paging a {
    border: 1px solid #ebeef2;
    padding: 3px 10px;
    margin: 0 3px;
    border-radius: 5px;
}
.paging a.current-page {
    border: 1px solid #cde;
    background: #def;
    color: #999;
    cursor: default;
}
.paging a:not(.disabled):not(.current-page):hover {
    color: #abc;
    cursor: pointer;
    border-color: #cde;
}
.paging a.disabled {
    color: #ccc;
    cursor: default;
}

.btn-detail{
    background: #c6c6c6;
    padding: 10px;
    text-align: center;
    color:#000000;
    cursor: pointer;
}

.btn-detail:hover{
    background:#e2dede;
}

.popCol{
    display: grid;
    grid-template-columns: 70% 30%;
    // padding-top: 6rem;
    font-size: 1rem;
    padding: 1rem;
}

.popCol2{
    display: grid;
    grid-template-columns: 50% 50%;
}

.popCol2-sub{
    margin-right:100px;
}

.labField{
    border: 1px solid #acacac;
    background: #dbdbdb;
    padding: 10px;
    width:80%;
    margin-bottom:10px;
}

.listInvoice{
    border-bottom:1px solid #000000;
    margin-bottom:4px;
}
