<nb-card>
    <nb-card-header>
        Manage Brand
    </nb-card-header>

    <nb-card-body>
        <table class="table table-bordered table-striped">
          <tr>
            <td>Added Date</td>
            <td>Nama Brand</td>
            <td>Added By</td>
            <td>Status</td>
            <td>Action</td>
          </tr>
          <tr *ngFor="let item of list">
            <td> {{ rubah(item.createdFrom)}}</td>
            <td> {{ item.name }}</td>
            <td> {{ item.createdBy }}  </td>
            <td>  {{ item.status }}</td>
            <td>

                  <button class="btn btn-success" (click)="okzApprove(item.brandId)">Approve</button>
                  <button class="btn btn-danger" (click)="okzReject(item.brandId)">Reject</button>
            </td>
          </tr>
          </table>
          <div class="paging">
            <ul>
                <li>
                    <a (click)="setPage(1)" [ngClass]="{disabled:currentPage == 1}">First</a>
                </li>
                <li>
                    <a (click)="setPage(currentPage, -1)" [ngClass]="{disabled:(currentPage-1) < 1}">Previous</a>
                </li>
                <li *ngFor="let p of pages">
                    <a (click)="setPage(p)" [ngClass]="currentPage == p?'current-page':''">{{p}}</a>
                </li>
                <li>
                    <a (click)="setPage(currentPage, +1)" [ngClass]="{disabled:currentPage == lastPage}">Next</a>
                </li>
                <li>
                    <a (click)="setPage(lastPage)" [ngClass]="{disabled:currentPage == lastPage}">Last</a>
                </li>
            </ul>
        </div>
      </nb-card-body>
</nb-card>
