.paging ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}
.paging li {
    display: inline-block;
}
.paging a {
    border: 1px solid #ebeef2;
    padding: 3px 10px;
    margin: 0 3px;
    border-radius: 5px;
}
.paging a.current-page {
    border: 1px solid #cde;
    background: #def;
    color: #999;
    cursor: default;
}
.paging a:not(.disabled):not(.current-page):hover {
    color: #abc;
    cursor: pointer;
    border-color: #cde;
}
.paging a.disabled {
    color: #ccc;
    cursor: default;
}

.disable{
    border-radius:5px;
    background: #e96544;
    padding:5px;
    color: #ffffff;
}

.active{
    border-radius:5px;
    background: #44e944;
    padding:5px;
    color: #ffffff;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.sort{
    color: #1578e9;
    cursor: pointer;
}

.sort:hover{
    color: #4f9ff3;
}

.btn-color{
    color: #000000;
}

.table-bordered thead tr th{
    border:1px solid #ebeef2;
    font-family: Exo;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25;
    color: #2a2a2a;
}

.table-bordered tbody tr td{
    border:1px solid #ebeef2;
}

.table-bordered tbody tr:hover{
    background:#fbfbfb;
}

.align-center{
    text-align: center;
    color: #ffffff;
}