.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}
.pagination a:hover:not(.active) {background-color: #ddd;}

.paging ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}
.paging li {
    display: inline-block;
}
.paging a {
    border: 1px solid #ebeef2;
    padding: 3px 10px;
    margin: 0 3px;
    border-radius: 5px;
}
.paging a.current-page {
    border: 1px solid #cde;
    background: #def;
    color: #999;
    cursor: default;
}
.paging a:not(.disabled):not(.current-page):hover {
    color: #abc;
    cursor: pointer;
    border-color: #cde;
}
.paging a.disabled {
    color: #ccc;
    cursor: default;
}