<nb-card>
        <nb-card-header>
            Product
        </nb-card-header>
        <nb-card-body>

            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Added Date</th>
                        <th>Nama Toko</th>
                        <th>Nama Produk</th>
                        <th>Status</th>
                        <th>Approved By</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                                <td><input class="form-control" placeholder="Search Created Data" [(ngModel)]="createdDate"></td>
                                <td><input class="form-control"  placeholder="Search Store Name" [(ngModel)]="storeName"></td>
                                <td><input class="form-control" placeholder="Search Name" (keyup)="searchK($event)"></td>
                                <td></td>
                                <td></td>
                            </tr>
                    <ng-container *ngFor="let obj of listProduct.data | searchPipe:'createdDate':createdDate  | searchPipe:'storeName':storeName">
                        <tr (click)="open(content,obj.productId, obj.brandId, obj.categoryOneId, obj.categoryTwoId, obj.categoryThreeId, obj.brandName, obj.masterId)">
                            <td>{{ rubah(obj.createdDate)}}</td>
                            <td>{{ obj.storeName }}</td>
                            <td>{{ obj.name }}</td>
                            <td>
                                    <i class="fa fa-circle circle-blue" *ngIf="obj.status === 'NEED APPROVAL'"></i>
                                    <i class="fa fa-circle circle-green" *ngIf="obj.status === 'APPROVED'"></i>
                                    <i class="fa fa-circle circle-red" *ngIf="obj.status === 'REJECTED'"></i>
                                    <i class="fa fa-circle circle-yellow" *ngIf="obj.status === 'REVISE'"></i>
                                {{ obj.status }}
                            </td>
                            <td> {{ obj.verifiedByName }}</td>
                        </tr>
                        <tr *ngIf="rowSelected==obj.productId">
                            <td></td>
                            <td colspan="4">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th style="width:15%;">Comment</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let q of obj.comments">
                                            <td style="width:15%;">{{q}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>

                        <ng-template #content let-c="close" let-d="dismiss">
                            <div class="modal-header bgGrey">
                                <h4 class="modal-title">{{ listDetailProd.name }}</h4>
                                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                    <span aria-hidden="true">&times;</span>
                                </button>

                            </div>
                            <div class="modal-body bgGrey">
                                <p>{{ obj.body }}</p>
                                <div class="drick-select-container--master">
                                    <div class="ui icon input parent">
                                        <input class="drick-select__text--master" [ngClass]="{'active':onTextFocusMaster}" type="text" [(ngModel)]="txtSearchMaster"
                                            (keyup)="searchMaster(obj.masterId)"
                                            (focus)="onTextFocusMaster = true" (focusout)="onFocusOutMaster()" placeholder="Select master product">

                                            <i class="drick-select__icon caret nb-arrow-down"></i>
                                    </div>
                                    <div class="drick-select-container--toggle--master" [ngClass]="{'active':onTextFocusMaster}"
                                        id="drick-scroll-container"
                                        (scroll)="onScrollDown()">
                                        <ul class="drick-select-list--master">
                                            <li *ngFor="let i of getDetailMaster" (click)="selectMaster(i,  obj.masterId)">
                                                {{i.name}}
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                <p>Foto Product</p>
                                        <img id="image" *ngFor="let foto of listDetailProd.imageUrl" (click)="hanya(foto)" (click)="isCollapsed = !isCollapsed"
                                        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample"  class="image-small" src="{{foto}}">

                                  <div id="collapseExample" [ngbCollapse]="!isCollapsed">
                                    <div class="card">
                                      <img class="fotoTogle" src="{{futu}}">
                                    </div>
                                  </div>
                                <br>
                                <span>Brand</span>
                                <div class="drick-select-container">
                                    <div class="ui icon input parent">
                                        <input class="drick-select__text" [ngClass]="{'active':onTextFocus}" type="text" [(ngModel)]="txtSearch"
                                            (keyup)="searchBrand(obj.brandId)"
                                            (focus)="onTextFocus = true" (focusout)="onFocusOut()" placeholder="Select one">

                                            <i class="drick-select__icon caret nb-arrow-down"></i>
                                    </div>
                                    <div class="drick-select-container--toggle" [ngClass]="{'active':onTextFocus}"
                                        id="drick-scroll-container"
                                        (scroll)="onScrollDown()">
                                        <ul class="drick-select-list">
                                            <li *ngFor="let i of brandList.data" (click)="selectBrand(i,  obj.brandId)">
                                                {{i.name}}
                                            </li>
                                            <li *ngIf="(brandList.data.length === 0)">
                                                Brand tidak ditemukan
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <br>
                                <span>Kategory</span>
                            <div class="wrapper">
                                <div class="drick-select-container">
                                    <div class="ui icon input parent">
                                        <input class="f-control drick-select__text form-control" [ngClass]="{'active':onCategoryFocus.C1}" type="text" [(ngModel)]="categoryName.C1"
                                            (keyup)="searchCategory('C1')" [ngModelOptions]="{standalone: true}"
                                            (focus)="onCategoryFocus.C1 = true" (focusout)="onCategoryBlur('C1')"
                                            placeholder="Select one">
                                        <i class="drick-select__icon caret down icon"></i>
                                    </div>
                                    <div class="drick-select-container--toggle" [ngClass]="{'active':onCategoryFocus.C1}"
                                        id="drick-scroll-container--category">
                                        <ul class="drick-select-list">
                                            <li *ngFor="let category of categoryList.C1.data" (click)="selectCategory(category)">
                                                {{category.name}}
                                            </li>

                                        </ul>
                                    </div>
                                </div>

                                <div class="drick-select-container">
                                  <div class="ui icon input parent">
                                      <input class="f-control drick-select__text form-control" [ngClass]="{'active':onCategoryFocus.C2}" type="text" [(ngModel)]="categoryName.C2"
                                          (keyup)="searchCategory('C2', categoryId.C1)" [ngModelOptions]="{standalone: true}"
                                          (focus)="onCategoryFocus.C2 = true" (focusout)="onCategoryBlur('C2')"
                                          placeholder="Select one">
                                          <!-- <bss-field-error [displayError]="categoryName.C2 === ''" errorMsg="Silahkan masukan deskripsi produk kamu"></bss-field-error> -->
                                      <i class="drick-select__icon caret down icon"></i>
                                  </div>
                                  <div class="drick-select-container--toggle" [ngClass]="{'active':onCategoryFocus.C2}"
                                      id="drick-scroll-container--category">
                                      <ul class="drick-select-list">
                                          <li *ngFor="let category of categoryList.C2.data" (click)="selectCategory(category)">
                                              {{category.name}}
                                          </li>
                                      </ul>
                                  </div>
                              </div>

                              <div class="drick-select-container">
                                <div class="ui icon input parent">
                                    <input class="f-control drick-select__text form-control" [ngClass]="{'active':onCategoryFocus.C3}" type="text" [(ngModel)]="categoryName.C3"
                                        (keyup)="searchCategory('C3', categoryId.C2)" [ngModelOptions]="{standalone: true}"
                                        (focus)="onCategoryFocus.C3 = true" (focusout)="onCategoryBlur('C3')"
                                        placeholder="Select one">
                                    <i class="drick-select__icon caret down icon"></i>
                                </div>
                                <div class="drick-select-container--toggle" [ngClass]="{'active':onCategoryFocus.C3}"
                                    id="drick-scroll-container--category">
                                    <ul class="drick-select-list">
                                        <li *ngFor="let category of categoryList.C3.data" (click)="selectCategory(category)">
                                            {{category.name}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            </div>
                        <form [formGroup]="addProductForm">


                                <span>deskripsi product</span>
                                <div class="input-group">

                                    <textarea formControlName="description"  class="form-control bgGrey" aria-label="With textarea" disabled></textarea>
                                </div>

                                <span>spesifikasi</span>
                                <div class="col-4">

                                    <div class="f-group" *ngFor="let categoryAttribute of categoryAttributes">

                                        <select [(ngModel)]="spec[categoryAttribute.attributeId]"  class="f-control form-control bgGrey "
                                            [attr.required]="categoryAttribute.isMandatory" [ngModelOptions]="{standalone: true}" disabled>
                                                <option value="" disabled>{{ categoryAttribute.name }}</option>
                                                <option [value]="attrValue.attributeValueId" *ngFor="let attrValue of categoryAttribute.data" disabled>{{ attrValue.name }}
                                                  {{attrValue.attributeValueId}}
                                                </option>
                                        </select>
                                    </div>
                                </div>

                                <table border="0" cellpadding="10">
                                    <tr>
                                        <td>Kondisi Barang</td>
                                        <td>
                                            <input type="checkbox" [(ngModel)]="isChecked" (change)="checkValue(isChecked?'A':'B')" [ngModelOptions]="{standalone: true}" disabled /> {{ listDetailProd.classificationValue }}
                                        </td>
                                        <td>Berat Barang</td>
                                        <td>{{ listDetailProd.weight }} gr</td>
                                    </tr>
                                    <tr>
                                        <td>Harga Barang</td>
                                        <td>Rp. {{ listDetailProd.pricelist| number }}</td>
                                        <!-- <td>Dimensi Barang</td>
                                        <td>{{  listDetailProd.volume }}</td> -->
                                    </tr>
                                    <tr>
                                        <td class="verticalAli">Stock Barang</td>
                                        <td class="verticalAli">{{ listDetailProd.qty }}</td>
                                        <td class="verticalAli">Metode Pengiriman</td>
                                        <td>
                                          <div class="row grid--courier press" *ngFor="let courier of listDetailProd.couriers">
                                            <ng-template [ngIf]="courier.isUse === true" [ngIfElse]="iUseFalse" >
                                                    {{ courier.name }} &nbsp; <input type="checkbox" id="checked" class="cbx hidden" checked disabled/>
                                                    &nbsp; <label for="checked" class="lbl"></label>
                                            </ng-template>

                                                <ng-template #iUseFalse>
                                                        {{ courier.name }} &nbsp; <input type="checkbox" id="checked_disabled" class="cbx hidden" disabled/>
                                                        &nbsp; <label for="checked_disabled" class="lbl"></label></ng-template>
                                                </div>
                                              </td>

                                           <!-- <p> ini {{ sel }}</p> -->

                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td *ngIf="listDetailProd.statusCode === 'NA'">
                                            <ng-container *ngFor="let option of list | slice:1">
                                                        <button class="button-approve" (click)="Selected(option.statusCode,version)" *ngIf="option.status === 'APPROVED'">
                                                                <!-- <ng-template  *ngIf="option.status === 'APPROVED'"> -->
                                                                {{ option.status }} {{listDetailProd.statusCode}}
                                                            </button>
                                                            <button class="button-revise" (click)="showDialog = !showDialog" *ngIf="option.status === 'REVISE'">
                                                                <!-- <ng-template  *ngIf="option.status === 'APPROVED'"> -->
                                                                {{ option.status }}
                                                            </button>
                                                            <button class="button-rejected" (click)="Selected(option.statusCode,version)" *ngIf="option.status === 'REJECTED'">
                                                                <!-- <ng-template  *ngIf="option.status === 'APPROVED'"> -->
                                                                {{ option.status }}
                                                            </button>
                                            </ng-container>
                                        </td>
                                    </tr>
                                </table>
                                </form>
                            </div>

                            <modal-mp [(visible)]="showDialog">
                                <form [formGroup]="myForm">
                                    <div *ngIf="check === false; else login">
                                        <div class="padding-for-body" *ngFor="let data of a">
                                        <input [checked]=false  type="checkbox" (change)="onChange(data.statusId, $event.target.checked)"> <span>{{ data.status }} </span>
                                        <br>
                                    </div>
                                    </div>
                                    <ng-template #login>
                                        <div class="padding-for-body" *ngFor="let data of a">
                                    <input [checked]=false  type="checkbox" (change)="onChange(data.statusId, $event.target.checked)"> <span>{{ data.status }}</span>
                                    <br>
                                </div>
                            </ng-template>
                                    <br>
                                    <textarea class="form-control" formControlName="tulisan" placeholder="Catatan Tambahan" aria-label="With textarea"></textarea>
                                </form>

                                <button class="button-revise revise-right" (click)="oke(listDetailProd.version)" >
                                    REVISE
                                </button>
                                <button (click)="showDialog = !showDialog" class="btn">Close</button>
                            </modal-mp>
                        </ng-template>
                    </ng-container>
                </tbody>
            </table>
        <div class="paging">
            <ul>
                <li>
                    <a (click)="setPage(1)" [ngClass]="{disabled:currentPage == 1}">First</a>
                </li>
                <li>
                    <a (click)="setPage(currentPage, -1)" [ngClass]="{disabled:(currentPage-1) < 1}">Previous</a>
                </li>
                <li *ngFor="let p of pages">
                    <a (click)="setPage(p)" [ngClass]="currentPage == p?'current-page':''">{{p}}</a>
                </li>
                <li>
                    <a (click)="setPage(currentPage, +1)" [ngClass]="{disabled:currentPage == lastPage}">Next</a>
                </li>
                <li>
                    <a (click)="setPage(lastPage)" [ngClass]="{disabled:currentPage == lastPage}">Last</a>
                </li>
            </ul>
        </div>
        </nb-card-body>
    </nb-card>
