<nb-card>
    <nb-card-header>
        Manage Brand
    </nb-card-header>

    <nb-card-body>
        <table class="table table-bordered table-striped">
          <tr>
            <td>Added Date</td>
            <td>Nama Brand</td>
            <td>Added By</td>
            <td>Status</td>
            <td>Action</td>
          </tr>
          <tr *ngFor="let item of list">
            <td> {{ rubah(item.createdFrom)}}</td>
            <td> {{ item.name }}</td>
            <td> {{ item.createdBy }}  </td>
            <td>  {{ item.status }}</td>
            <td>

                  <button class="btn btn-success" (click)="okzApprove(item.brandId)">Approve</button>
                  <button class="btn btn-danger" (click)="okzReject(item.brandId)">Reject</button>
            </td>
          </tr>
          </table>
      </nb-card-body>
</nb-card>
