<table class="table table-striped">
    <thead>
        <tr>
            <th>Register Date <i class="fa fa-calendar"></i></th>
            <th *ngIf="checkSort === false; else login" (click)="funcSortArray()">Nama Toko <i class="fa fa-undo"></i></th>
            <!-- Click funcSortArray jika ingin sorting -->
            <ng-template #login>
                <th (click)="functionArrayBenar()">Nama Toko<i class="fa fa-undo"></i></th>
            </ng-template>

            <!-- <th (click)="funcSortArray()">Nama Toko <i class="fa fa-undo"></i></th> -->
            <th>Nama Pemilik <i class="fa fa-undo"></i></th>
            <th>Status <i class="fa fa-align-left"></i></th>
            <th>Approved by <i class="fa fa-user"></i></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input placeholder="Item phone..." [(ngModel)]="testing"> </td>
            <td>
                <input placeholder="Item name..." [(ngModel)]="search"> </td>
            <td>
                <input placeholder="Dummy1" readonly>
            </td>
            <td>
                <input placeholder="Dummy2" readonly>
            </td>
            <td>
                <input placeholder="Dummy3" readonly>
            </td>

        </tr>
        <div *ngIf="title; else please">
            The user is logged in.
        </div>
        <ng-template #please>
            <ng-container *ngFor="let obj of exa | searchPipe:'name':search  | searchPipe:'phone':testing">
                <tr (click)="openCloseRow(obj.id)">
                    <td>{{obj.phone}}</td>
                    <td (click)="getCharacter(obj.username)">
                        {{obj.name}}
                    </td>
                    <td>
                        {{obj.website}}
                    </td>
                    <td *ngIf="obj.numComents === 'Approved'">
                        <span class="bullets"> {{obj.numComents}} </span>
                    </td>
                    <td *ngIf="obj.numComents === 'Need Approval'">
                        {{obj.numComents}}
                    </td>
                    <td>{{obj.approvedBy}}</td>
                    <td></td>
                </tr>
                <tr *ngIf="rowSelected==obj.id">
                    <td></td>
                    <td colspan="4">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td style="width:15%;">Alamat Toko</td>
                                    <td>{{ obj.address.city }}</td>
                                    <td>No Handphone</td>
                                    <td>018238123</td>

                                </tr>
                                <tr>
                                    <td style="width:15%;">Provinsi</td>
                                    <td>{{ obj.address.street }}</td>
                                    <td>Email</td>
                                    <td>makmur@jaya.com</td>

                                </tr>
                                <tr>
                                    <td style="width:15%;">Kota / Kabupaten</td>
                                    <td>{{ obj.address.suite }}</td>
                                    <td>
                                        <button class="btn btn-warning btn-demo" (click)="onApprove()">Approve</button>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td style="width:15%;">Kecamatan</td>
                                    <td>Bandung Barat</td>
                                </tr>
                                <tr>
                                    <td style="width:15%;">Postal Code</td>
                                    <td>{{ obj.address.zipcode }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </ng-container>
        </ng-template>
    </tbody>
</table>