.spec-list {
    border: 3px solid #ced4da;
    border-radius: 0.25rem;
    padding: 7.5px 10px;
    transition: .3s all ease-out;

    &:hover {
        cursor: pointer;
        background-color: #ced4da;
    }

    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

.spec-list.active {
    background-color: #ced4da;
}

.spec-list {
    &__container {
        max-height: 500px;
        margin-bottom: 10px;
        overflow: auto;
    }

    &__footer {
        padding: 7.5px 10px;
        border-radius: .25rem;
        transition: .3s all ease-out;

        i {
            color: #2288cc;
            font-size: 30px;
        }
        span {
            display: block;
        }

        &:hover {
            cursor: pointer;
            background-color: #e9ecef;
        }
    }
}

.attribute-value-list {
    max-height: 500px;
    overflow: auto;
    border: 1px solid #2288cc;

    ul {
        list-style: none;
        padding: 5px;
        margin: 0;

        li {
            position: relative;
            padding: 5px 10px;
            transition: .3s all ease-out;

            .tool-box {
                position: absolute;
                right: 10px;

                > i {
                    &:hover {
                        cursor: pointer;
                        color: #2288cc;
                    }
                }
            }

            &:hover {
                background-color: #e9ecef;
            }
        }
        li.add-new {
            > i {
                color: #2288cc;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
}

.form-control-wrapper {
    position: relative;

    i {
        position: absolute;
        right: 15px;
        top: 13px;
        font-size: 24px;
        transition: .3s all ease-out;

        &:hover {
            cursor: pointer;
            color: #cc2222;
        }
    }

    i.spinner {
        right: 26px;
        top: 26px;
    }
}


@keyframes spinner {
    to {transform: rotate(360deg);}
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #333;
    animation: spinner .6s linear infinite;
}