<nb-card class="card">
    <nb-card-body>

        <div class="tabs">
            <nav>
                <ul>
                    <li>
                        <a [routerLink]="['/orders']" [ngClass]="(statusOrder=='ALL')?'btn-tab__active':'btn-tab__noActive'" [queryParams]="{status:'ALL'}"><span>Semua</span></a>
                        <nb-badge text="{{ count.all }}" status="success" position="top right"></nb-badge>
                    </li>
                    <li>
                        <a [routerLink]="['/orders']" [ngClass]="(statusOrder=='228')?'btn-tab__active':'btn-tab__noActive'" [queryParams]="{status:'228'}"><span>Belum Bayar</span></a>
                        <nb-badge text="{{ count['228'] }}" status="success" position="top right"></nb-badge>
                    </li>
                    <li>
                        <a [routerLink]="['/orders']" [ngClass]="(statusOrder=='230')?'btn-tab__active':'btn-tab__noActive'" [queryParams]="{status:'230'}"><span>Need Confirmation</span></a>
                        <nb-badge text="{{ count['230'] }}" status="success" position="top right"></nb-badge>
                    </li>
                    <li>
                        <a [routerLink]="['/orders']" [ngClass]="(statusOrder=='233')?'btn-tab__active':'btn-tab__noActive'" [queryParams]="{status:'233'}"><span>Harus Kirim</span></a>
                        <nb-badge text="{{ count['233'] }}" status="success" position="top right"></nb-badge>
                    </li>
                    <li>
                        <a [routerLink]="['/orders']" [ngClass]="(statusOrder=='229')?'btn-tab__active':'btn-tab__noActive'" [queryParams]="{status:'229'}"><span>Pembatalan</span></a>
                        <nb-badge text="{{ count['229'] }}" status="success" position="top right"></nb-badge>
                    </li>
                </ul>
            </nav>
            <div class="content-wrap" [nbSpinner]="loading" nbSpinnerStatus="warning">
                <section class="content-current">
                    <accordion>
                        <group *ngFor="let item of listOrder" [data]="item">
                            <div  *ngFor="let itemCart of item.transaction">
                                <div class="row" *ngFor="let itemList of itemCart.cart">
                                    <table border="0" width="100%">
                                        <tr>
                                            <td valign="top" class="product" width="37%">
                                                <span class="order-id">ORDER ID: {{itemList.orderNumber}}</span>
                                                <table border="0" width="100%">
                                                <tr *ngFor="let itemListProduct of itemList.cartItems">
                                                    <td valign="top" width="40%">
                                                        <div class="img-item"><img src="{{itemListProduct.imageUrl}}" border="0"></div>
                                                    </td>
                                                    <td valign="top" width="60%">
                                                        <div class="item-colom">{{itemListProduct.name}} &nbsp; (&nbsp;{{ itemListProduct.quantity }}&nbsp;) <br><br>Produk ID: {{itemListProduct.productId}} <br>
                                                        <br>Varian:<br>
                                                        <span *ngFor="let varian of itemListProduct.varians; let i = index">
                                                            {{varian.varians[0].value}} {{ (i === itemListProduct.varians.length - 1) ? '' : ' - ' }}
                                                        </span>
                                                        </div>
                                                        <div class="item-colom">Rp.{{itemListProduct.subtotal | number}}</div>
                                                    </td>
                                                </tr>
                                                </table>
                                            </td>
                                            <td valign="top" width="20%">
                                                <div class="item-colom-border">
                                                    <b>Nama Penerima:</b> <br><label>{{itemList.namaPenerima}}</label><br>
                                                    <b>No Handphone: </b><br><label>{{itemList.phonePenerima}}</label><br>
                                                    <b>Alamat: </b><br>{{itemList.alamatSebagai}}<br><label>{{ itemList.alamatPenerima }}</label>
                                                </div>
                                            </td>
                                            <td valign="top" width="28%">
                                                <div class="item-colom">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <b>No Resi:</b><br><label>{{itemList.noResi}}</label><br><br>
                                                            <b>Status:</b><br><label class="statusOrder">{{itemList.statusOrder}}</label>
                                                        </div>
                                                        <div class="col-6">
                                                            <b>Metode Pengiriman:</b><br><label>{{itemList.courierName}} {{itemList.courierService}}</label><br><br>
                                                            <b>Total Berat: </b><br><label>{{itemList.totalWeight/1000}} kg</label><br><br>
                                                            <b>Asuransi: </b><br><label *ngIf="itemList.useAsuransi == false">Tidak</label><label *ngIf="itemList.useAsuransi == true">Ya</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td valign="top" width="15%">
                                                <div class="ongkir">
                                                    <b>Biaya Pengiriman: </b><br><label>Rp. {{itemList.courierPrice | number}}</label>
                                                    <div class="button">
                                                        <div class="btn-konfirm" *ngIf="item.statusCode === '230'" (click)="showDialog = !showDialog" (click)="ok(item.paymentNumber)">Confirm Transfer</div>
                                                        <div *ngIf="item.statusCode === '233'" class="bAccpet">
                                                            Status: Accept
                                                        </div>
                                                        <div *ngIf="item.statusCode === '229'" class="bReject">
                                                            Status: Reject (-{{item.reason}}-)
                                                        </div>&nbsp;&nbsp;
                                                        
                                                    </div>
                                                    <div class="btn-contact">Hubungi Seller</div>
                                                    
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </group>
                    </accordion>
                </section>
            </div><!-- /content -->
        </div><!-- /tabs -->

    </nb-card-body>
</nb-card>
<div class="paging">
        <ul>
            <li>
                <a (click)="setPage(1)" [ngClass]="{disabled:currentPage == 1}">First</a>
            </li>
            <li>
                <a (click)="setPage(currentPage, -1)" [ngClass]="{disabled:(currentPage-1) < 1}">Previous</a>
            </li>
            <li *ngFor="let p of pages">
                <a (click)="setPage(p)" [ngClass]="currentPage == p?'current-page':''">{{p}}</a>
            </li>
            <li>
                <a (click)="setPage(currentPage, +1)" [ngClass]="{disabled:currentPage == lastPage}">Next</a>
            </li>
            <li>
                <a (click)="setPage(lastPage)" [ngClass]="{disabled:currentPage == lastPage}">Last</a>
            </li>
        </ul>
</div>

<!-- <nb-card>
    <nb-card-body>
        <nb-route-tabset (changeTab)="onChangeTab($event)" [tabs]="tabs" fullWidth></nb-route-tabset>
    </nb-card-body>
</nb-card> -->

<modal-mp maxwidth="920" [(visible)]="showDialog" class="frameDialog">
    <div style="
            min-height: 10rem;
            max-height: 33rem;
            display: block;
            overflow: auto;
        ">
            <div class="body--on__popuP">
                <div class="text-payment__id">Payment ID</div>
                <div class="text--align_center text-payment__id">Tanggal Transfer</div>
                <div>{{ getDataTranscation.paymentNumber }}</div>
                <div *ngIf="getDataTranscation.transerDate === '';else JikadAdaTanggalTf" class="text--align_center"> Belum Ada Data</div>
                <ng-template #JikadAdaTanggalTf >
                    <div class="text--align_center"> {{getDataTranscation.transerDate }}</div>
                </ng-template>
                <!-- <div class="text--align_center"> {{ getDataTranscation.transerDate  }}</div> -->
            </div>
            <hr>
            <div class="seconds__line--on-body">
                <div class="text-color__black"> Bank Transfer</div>
                <div class="text-color__black">Pemilik Rekening</div>
                <div class="text-color__black"> No rekening</div>
                <div> {{ getDataTranscation.transferFrom }}</div>
                <div> {{ getDataTranscation.accountName }} </div>
                <div> {{ getDataTranscation.accountNumber }} </div>
            </div>
            <hr>
            <div class="seconds__line--on-body">
                <div class="text-color__black"> Pembeli</div>
                <div class="text-color__black">Berita</div>
                <div class="text-color__black">No Referensi</div>
                <div> {{ getDataTranscation.buyerName }} </div>
                <div *ngIf="getDataTranscation.news === '';else JikaAdaNews"> belum ada data</div>
                <ng-template #JikaAdaNews> {{ getDataTranscation.news }}</ng-template>
                <div> {{ getDataTranscation.refNo }} </div>
            </div>
            <hr>
            <div class="three__line--on-body">
                <div class="text-color__black">Order date</div>
            </div>
            <div class="three__line--on-body">
                <div *ngIf="getDataTranscation.createdOrder === '';else JikadaAdaOrderDate"> belum ada data</div>
                <ng-template #JikadaAdaOrderDate> {{getDataTranscation.createdOrder }}</ng-template>
            </div>
            <hr>
            <div class="fourth__line--on-body" *ngFor="let item of getDataTranscation.orders">
                <div class="color-Order__id">Order ID #{{ item.orderNumber  }}</div>
                <div> Toko : {{ item.storeName }} </div>
                <div *ngIf="getDataTranscation.totalAsuransi == '0';else Asuransi">Asuransi: TIDAK</div>
                <ng-template #Asuransi> Asuransi: YA </ng-template>
                <div>Rp. {{ item.total + getDataTranscation.totalAsuransi | number }}</div>
            </div>
            <hr>
            <div class="five__line--on-body">
                <div>
                    <select class="form-control" [(ngModel)]="codeNum">
                        <option value="" disabled>Pilih Alasan Penolakan</option>
                        <option *ngFor="let option of getListing" [ngValue]="option.statusCode">
                            {{ option.status }}
                        </option>
                    </select>
                </div>
                <div>
                    <span class="text__total-belanja">Total Belanja </span>
                    <span class="text__nominal_tf">Nominal Transfer </span>
                </div>
                <div>
                    <span class="text__block"> : Rp. {{ getDataTranscation.grandTotal | number }}</span>
                    <span > : Rp. {{ getDataTranscation.nominal | number }}</span>
                </div>
            </div>
            <div class="six__line--on-body" *ngIf="getDataTranscation.status === 'menunggu konfirmasi pembayaran'">
                <div>
                    <button class="btn btn--width btn__color-red" (click)="gakmasu(getDataTranscation.paymentNumber)">Reject</button>
                </div>
                <div class="d__for--button">
                    <button class="btn btn--width btn__color-green" (click)="confrimButton(getDataTranscation.paymentNumber)">Konfirmasi</button>
                </div>
            </div>
    </div>
        
<!-- <ng-template #xxasd>Please login to continue.</ng-template> -->
        
</modal-mp>