<nb-card>
    <nb-card-body>

        <div class="tabs tabs-style-linemove">
            <nav>
                <ul>
                    <li class="tab-current"><a [routerLink]="['/order']" [queryParams]="{q:'asdf'}"
                    routerLinkActive="router-link-active"><span>Semua</span></a></li>
                    <li><a (click)="tab('ALL')"><span>Belum Bayar</span></a></li>
                    <li><a (click)="tab('ALL')"><span>Need Confirmation</span></a></li>
                    <li><a (click)="tab('ALL')"><span>Harus Kirim</span></a></li>
                    <li><a (click)="tab('ALL')"><span>Pembatalan</span></a></li>
                </ul>
            </nav>
            <div class="content-wrap">
                <section id="section-linemove-1"><p>1</p></section>
                <section id="section-linemove-2"><p>2</p></section>
                <section id="section-linemove-3"><p>3</p></section>
                <section id="section-linemove-4"><p>4</p></section>
                <section id="section-linemove-5"><p>5</p></section>
            </div><!-- /content -->
        </div><!-- /tabs -->

    </nb-card-body>
</nb-card>


<!-- <nb-card>
    <nb-card-body>
        <nb-route-tabset (changeTab)="onChangeTab($event)" [tabs]="tabs" fullWidth></nb-route-tabset>
    </nb-card-body>
</nb-card> -->