<div *ngIf="isProses==false">
  <h2 class="title">Reset Password</h2>
  <small class="form-text sub-title">Please fill out this form to get a new password.</small>

  <form autocomplete="nope" novalidate="" [formGroup]="formGroup" (submit)="onSubmit()">
      <div class="form-group">
          <label class="sr-only" for="input-password">Password</label>
          <input formControlName="password" class="form-control" id="input-password" name="password"
              placeholder="Password" type="password" [ngClass]="{
                  'invalid-form-control': formGroup.controls.password.invalid && formGroup.controls.password.dirty,
                  'success-form-control': formGroup.controls.password.valid && formGroup.controls.password.dirty
              }">
          <small *ngIf="formGroup.controls.password.invalid && formGroup.controls.password.dirty" class="invalid-form">
              Password is required!
          </small>
      </div>
      <div class="form-group">
          <label class="sr-only" for="input-password">Password Repeat</label>
          <input formControlName="password_repeat" class="form-control" id="input-password" name="password_repeat"
              placeholder="Password" type="password" [ngClass]="{
                  'invalid-form-control': formGroup.controls.password_repeat.invalid && formGroup.controls.password_repeat.dirty,
                  'success-form-control': formGroup.controls.password_repeat.valid && formGroup.controls.password_repeat.dirty
              }">
          <small *ngIf="formGroup.controls.password_repeat.invalid && formGroup.controls.password_repeat.dirty" class="invalid-form">
              Password repeat is required!
          </small>
      </div>

      <button class="btn btn-block btn-success" [disabled]="formGroup.invalid">
          Proses
      </button>
  </form>
</div>
<div *ngIf="isProses==true">
  <h2 class="title">Reset Password</h2>
  <small class="form-text sub-title">Your password has been changing!</small>
</div>