
<nb-card>
    <nb-card-header>
        Store Approval
    </nb-card-header>
    <nb-card-body>
        <!-- awalnya seperti ini: <div class="table-responsive table-striped"> -->
        <div class="table-striped">
            <table class="table">
                    <thead>
                        <tr>
                            <th *ngIf="registerDateSorting === false; else sortingDate" (click)="funcSortDateArray()">Register Date <i class="fa fa-calendar"></i></th>
                            <ng-template #sortingDate>
                                <th (click)="funcSortDateArrayBenar()">Register Date <i class="fa fa-calendar"></i></th>
                            </ng-template>
                            <th *ngIf="checkSort === false; else sortingNmToko" (click)="funcSortArray()">Nama Toko <i class="fa fa-undo"></i></th>
                            <ng-template #sortingNmToko>
                                <th (click)="functionArrayBenar()">Nama Toko <i class="fa fa-undo"></i></th>
                            </ng-template>
                            <th *ngIf="namaPemilikSorting === false; else sortingNamaPemilik" (click)="funcNamaPemilikArray()">Nama Pemilik <i class="fa fa-undo"></i></th>
                            <ng-template #sortingNamaPemilik>
                                <th (click)="funcSortNamaPemilikBenar()">Nama Pemilik <i class="fa fa-undo"></i></th>
                            </ng-template>
                            <th>Status <i class="fa fa-align-left"></i></th>
                            <th (click)="approvedBy()">Approved by <i class="fa fa-user"></i></th>
                        </tr>
                    </thead>
                    <tbody [nbSpinner]="loading" nbSpinnerStatus="warning" nbSpinnerSize="xxlarge">
                        <tr>
                            <td>
                                <input placeholder="search tanggal" [(ngModel)]="registerDat" class="form-control"> </td>
                            <td>
                                <input placeholder="search Nama toko" [(ngModel)]="search" class="form-control"> </td>
                            <td>
                                <input placeholder="search Nama Owner" [(ngModel)]="namaOwner" class="form-control">
                            </td>
                            <td>
                                <input placeholder="search status" [(ngModel)]="status" class="form-control">
                            </td>
                            <td>
                                <input placeholder="search approvedBy" [(ngModel)]="verifiedByName" class="form-control">
                            </td>
                        </tr>
                        <div *ngIf="title; else please">
                            The user is logged in.
                        </div>
                        <ng-template #please>
                            <ng-container *ngFor="let obj of listToko.data | searchPipe:'name':search  | searchPipe:'registeredDate':registerDat | searchPipe:'ownerStore':namaOwner | searchPipe:'status':status | searchPipe:'verifiedByName':verifiedByName">
                                <tr (click)="openCloseRow(obj.storeId)" (click)="getCharacter(obj.storeId)">
                                    <td>{{ rubah(obj.registeredDate)}}</td>
                                    <td>
                                        {{obj.name}}
                                    </td>
                                    <td>
                                        {{obj.ownerStore}}
                                    </td>
                                    <td>
                                        <i class="fa fa-circle circle-blue" *ngIf="obj.status === 'NEED APPROVAL'"></i>
                                        <i class="fa fa-circle circle-green" *ngIf="obj.status === 'APPROVED'"></i>
                                        <i class="fa fa-circle circle-red" *ngIf="obj.status === 'REJECTED'"></i>
                                        <i class="fa fa-circle circle-yellow" *ngIf="obj.status === 'REVISE'"></i>
                                            {{obj.status}}
                                    </td>
        
                                    <td>{{obj.verifiedByName}}</td>
                                </tr>
                                <tr *ngIf="rowSelected==obj.storeId">
                                    <td colspan="12">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td style="width:20%;">Alamat Toko</td>
                                                    <td>{{ listDetailToko.address }}</td>
                                                    <td>No Handphone</td>
                                                    <td>{{ listDetailToko.phone }}</td>
        
                                                </tr>
                                                <tr>
                                                    <td style="width:20%;">Provinsi</td>
                                                    <td>{{ listDetailToko.regionName }}</td>
                                                    <td>Email</td>
                                                    <td>{{ listDetailToko.email }}</td>
        
                                                </tr>
                                                <tr>
                                                    <td style="width:20%;">Kota / Kabupaten</td>
                                                    <td>{{ listDetailToko.cityName }}</td>
                                                    <td style="padding-left: 10rem;">
                                                        <div class="styled-select yellow rounded">
                                                            <select name="city" [(ngModel)]="city" #selectedCategory (change)="Selected(city)" [ngModelOptions]="{standalone: true}" class="input-style-text-100">
                                                                <option disabled selected>{{ city }}</option>
                                                                <!-- <option  disabled selected>Silahkan Pilih Action</option> -->
                                                                <option *ngFor="let option of list" [ngValue]="option.statusCode">{{ option.status }}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div *ngIf="select === 'RJ' || select === 'RV' ">
                                                            <textarea rows="4" cols="50" [formControl]="descripReject" placeholder="Explaination"></textarea>
                                                        </div>
                                                        <div class="save">
                                                            <button *ngIf="select === 'RJ' || select === 'RV' " class="btn button-save" (click)="getValueFromSelect()" [disabled]="checkIfButtonWasPressed === false"><i class="fas fa-save"></i>&nbsp;Save</button>
                                                            <button *ngIf="select === 'NA' || select === 'AP' "class="btn button-save" (click)="getValueFromSelec()" [disabled]="checkIfButtonWasPressed === false"><i class="fas fa-save"></i>&nbsp;Save</button>
                                                            <button *ngIf="select === undefined" class="btn button-save" [disabled]="checkIfButtonWasPressed === false"><i class="fas fa-save"></i>&nbsp;Save</button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="width:20%;">Kecamatan</td>
                                                    <td>{{listDetailToko.districtName}}</td>
                                                </tr>
                                                <tr>
                                                    <td style="width:20%;">Postal Code</td>
                                                    <td>{{ listDetailToko.postal }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </ng-container>
                        </ng-template>
        
                    </tbody>
                
            </table>
        </div>
       
        
        <div class="paging">
            <ul>
                <li>
                    <a (click)="setPage(1)" [ngClass]="{disabled:currentPage == 1}">First</a>
                </li>
                <li>
                    <a (click)="setPage(currentPage, -1)" [ngClass]="{disabled:(currentPage-1) < 1}">Previous</a>
                </li>
                <li *ngFor="let p of pages">
                    <a (click)="setPage(p)" [ngClass]="currentPage == p?'current-page':''">{{p}}</a>
                </li>
                <li>
                    <a (click)="setPage(currentPage, +1)" [ngClass]="{disabled:currentPage == lastPage}">Next</a>
                </li>
                <li>
                    <a (click)="setPage(lastPage)" [ngClass]="{disabled:currentPage == lastPage}">Last</a>
                </li>
            </ul>
        </div>
    </nb-card-body>
</nb-card>