.title{
    color:#646572;
}

.c-contain{
    background: #ffffff;
    padding:20px;
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-gap: 20px;
}

.bc{
    border:1px solid #dddddd;
    padding: 10px;
    background: #ffffff;
}