// .paging ul {
//     list-style-type: none;
//     padding: 0;
//     text-align: center;
// }
// .paging li {
//     display: inline-block;
// }
// .paging a {
//     border: 1px solid #999;
//     padding: 3px 10px;
//     margin: 0 3px;
// }
// .paging a.current-page {
//     border: 1px solid #cde;
//     background: #def;
//     color: #999;
//     cursor: default;
// }
// .paging a:not(.disabled):not(.current-page):hover {
//     color: #abc;
//     cursor: pointer;
//     border-color: #cde;
// }
// .paging a.disabled {
//     color: #ccc;
//     cursor: default;
// }


// .sort{
//     color: #1578e9;
//     cursor: pointer;
// }

// .sort:hover{
//     color: #4f9ff3;
// }

.scroll-cat{
    overflow-y: scroll;
    height: 600px;
    padding:5px;
    // position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -17px;
}

.inactive{
    background: #f37f7f
}

.edit-cat{
    text-align: right;
    width:50px;
    display: none;
}
// .menu-cat{
//     margin-bottom: 5px;
// }

.menu-cat1{
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    border-color: #0085ad;
    margin-bottom: 5px;
    padding-right:10px;
}

.menu-cat1:hover{
    background: #f6f6f6;
    cursor: pointer;
    font-weight: bold;
    display: block;
}

.menu-cat1:hover .edit-cat{
    // background: #f6f6f6;
    cursor: pointer;
    font-weight: bold;
    display: block;
}

.menu-cat2:hover .edit-cat{
    // background: #f6f6f6;
    cursor: pointer;
    font-weight: bold;
    display: block;
}

.sub-menu-cat2{
    padding:8px;
}

.sub-menu-cat2:hover{
    background: #f6f6f6;
    cursor: pointer;
    padding:8px;
}

.btn-add-c1{
    text-align: center;
    padding:10px;
    font-size: 20px;
    color: #515253;
}

.btn-add-c1:hover{
    background: #f6f6f6;
    cursor: pointer;
}

.btn-add-c2{
    padding:10px;
    font-size: 16px;
    color: #515253;
}

.btn-add-c2:hover{
    background: #f6f6f6;
    cursor: pointer;
}

.blue-icon{
    color: #4d9cf7;
}

.menu-cat2{
    border: 1px solid #0085ad;
}

// .sub-menu-cat2{
//     border-bottom: 1px solid #dddddd;
// }

// .profile-pic {
// 	position: relative;
// 	display: inline-block;
// }

// .profile-pic:hover .edit {
// 	display: block;
// }

// .edit {
// 	padding-top: 7px;	
// 	padding-right: 7px;
// 	position: absolute;
// 	right: 0;
// 	top: 0;
// 	display: none;
// }

// .edit a {
// 	color: #000;
// }