<div class="row">
        <div class="col-12">
            <span class="w__myProduk"> List Produk</span>
            <a [routerLink]="['/master-product/tambah']">
                <div class="w_bor">
                    <div></div>
                    <div class="w_col-3">
                        <i class="fa fa-plus-circle icon--customize"></i>
                        <div>
                            <span class="w__text--tambah--produk">Tambah Produk Baru</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <nb-card-body>
        <table class="table table-bordered table-striped">
            <tr>
                <td></td>
                <td>
                    <input class="form-control" placeholder="Search Name" (keyup)="searchK($event)">
                </td>
            </tr>

            <tr *ngFor="let obj of lisitingProd" (click)="openLg(content, obj.productId)">
                <td> <img class="item__cusotmese__image" src="{{obj.imageUrl[0]}}"></td>
                <td class="td__cusotmese__image">
                    <p> {{ obj.name }}</p>
                </td>
            </tr>
        </table>
    </nb-card-body>
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">{{a.name}}</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <img class="img--post" *ngFor="let item of a.imageUrl" [src]="prodImg + item">
            <hr>
            <table class="table table-bordered table-striped">
                <tr>
                    <td>Nama Product</td>
                    <td> {{ a.name }}</td>
                </tr>
                <tr>
                    <td>Nama Brand</td>
                    <td> {{ a.brandName}} </td>
                </tr>
                <tr>
                    <td>Categori ( C1, C2, C3 )</td>
                    <td> {{ a.categoryOneName }}, {{ a.categoryTwoName }}, {{ a.categoryThreeName }} </td>
                </tr>
                <tr>
                    <td>Deskripsi</td>
                    <td> {{ a.description }} </td>
                </tr>
                <tr>
                    <td>Berat</td>
                    <td> {{ a.weight }} (gram) </td>
                </tr>
            </table>
        </div>
        <button class="btn btn-dark" (click)="goToEdit(a.productId)" (click)="d('Cross click')">Edit</button>
    </ng-template>

    <div class="paging">
        <ul>
            <li>
                <a (click)="setPage(1)" [ngClass]="{disabled:currentPage == 1}">First</a>
            </li>
            <li>
                <a (click)="setPage(currentPage, -1)" [ngClass]="{disabled:(currentPage-1) < 1}">Previous</a>
            </li>
            <li *ngFor="let p of pages">
                <a (click)="setPage(p)" [ngClass]="currentPage == p?'current-page':''">{{p}}</a>
            </li>
            <li>
                <a (click)="setPage(currentPage, +1)" [ngClass]="{disabled:currentPage == lastPage}">Next</a>
            </li>
            <li>
                <a (click)="setPage(lastPage)" [ngClass]="{disabled:currentPage == lastPage}">Last</a>
            </li>
        </ul>
    </div>