<nb-card>
    <nb-card-header>
        Pencairan Dana
    </nb-card-header>

    <nb-card-body>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Nama Toko</th>
                    <th>Nominal Transfer</th>
                    <th>Status <i class="fa fa-sort"></i></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of list">
                    <td>{{item.expiredProcessDate}}</td>
                    <td>{{item.storeName}}</td>
                    <td>Rp.{{item.grandTotal | number}}</td>
                    <td>{{item.status}}</td>
                    <td><div class="btn-cair" (click)="popCair(content,item)">
                        Cairkan Dana
                    </div></td>
                </tr>
            </tbody>
        </table>
        <div class="paging">
            <ul>
                <li>
                    <a (click)="setPage(1)" [ngClass]="{disabled:currentPage == 1}">First</a>
                </li>
                <li>
                    <a (click)="setPage(currentPage, -1)" [ngClass]="{disabled:(currentPage-1) < 1}">Previous</a>
                </li>
                <li *ngFor="let p of pages">
                    <a (click)="setPage(p)" [ngClass]="currentPage == p?'current-page':''">{{p}}</a>
                </li>
                <li>
                    <a (click)="setPage(currentPage, +1)" [ngClass]="{disabled:currentPage == lastPage}">Next</a>
                </li>
                <li>
                    <a (click)="setPage(lastPage)" [ngClass]="{disabled:currentPage == lastPage}">Last</a>
                </li>
            </ul>
        </div>
    </nb-card-body>
</nb-card>    


<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{titlePopUp}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="popCol">
            <div class="popCol2">
                <div>
                    <form class="ui form" [formGroup]="createComForm" (ngSubmit)="onSubmit()" novalidate>
                    <input type="hidden" formControlName="bankAccountId">
                    Dikirim Dari Rekening Bank Belisada<br>
                    <!-- <input type="text"><br> -->
                    <div class="drick-select-container">
                        <div class="ui icon input parent">
                            <input class="f-control drick-select__text" [ngClass]="{'active':onBankFocus}" type="text"
                                formControlName="bankName" (focus)="onBankFocus = true"
                                (focusout)="onBankBlur()" placeholder="Pilih Bank">
                            <i class="drick-select__icon caret down icon"></i>
                        </div>
                        <div class="drick-select-container--toggle" [ngClass]="{'active':onBankFocus}"
                            id="drick-scroll-container--brand"
                            >
                            <ul class="drick-select-list">
                                <li *ngFor="let i of listBank" (click)="selectBank(i)">
                                    {{i.name}}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- <small>Pilih rekening Belisada yang akan digunakan</small> -->
                    <br><br>
                    Nominal Transfer<br>
                    <input class="f-control" type="text"><br><br>
                    Tanggal Transfer<br>
                    <input class="f-control" type="text"><br><br>
                    Berita Transfer<br>
                    <textarea class="f-control"></textarea><br><br>


    
                    <div class="col-3" *ngIf="isField==true"> 
                        <my-date-picker class="frame-date" name="mydate" [options]="myDatePickerOptions" formControlName="transferDate"></my-date-picker>
                        <div *ngIf="validationOnpopUpCreateStore.controls.transferDate.invalid && (validationOnpopUpCreateStore.controls.transferDate.dirty && validationOnpopUpCreateStore.controls.dateOfBirth.touched)" class="alert alert-danger toll tooltip testing">
                            <span class="tooltiptext">Tanggal Lahir tidak boleh kosong</span>
                        </div>
                         <app-field-error-display [displayError]="isFieldValid('transferDate')" errorMsg="Tanggal Lahir tidak boleh kosong"></app-field-error-display>
                    </div>

                    </form>
                </div>
                <div>
                    Pemilik Rekening
                    <div class="labField">Wahyu</div>
                    Informasi Rekening
                    <div class="labField">BCA 678687686</div>
                </div> 
            </div>
            <div>
                Nominal Yang Harus Dikirim<br>
                <div class="labField">Rp.12.000.000</div>
                Detail Penarikan Dana<br>
                <div class="labField"> 
                    <div class="listInvoice" *ngFor="let itemsI of listInvoice">Tarikan Dana: {{itemsI}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <!-- <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button> -->
        <button class="btn btn-sm btn-danger btn-click" (click)="d('Cross click')">BATAL</button>
        <button class="btn btn-sm btn-success btn-click">PROSES</button>
    </div>
</ng-template>
